@import 'import-core-tools';
@import 'import-core-settings';
@import 'settings';

:host {

  hr {
    margin-bottom: space(medium);
    border: initial;
    border-top: $border-style-base;
  }

  .evento-data {
    margin: {
      right: 0;
      left: 0;
    }

    input {
      width: space(xlarge) * 3;
    }
  }

  .info-box {
    width: 100%;
    margin-bottom: space(medium);
  }

  .action-group {
    border-top: unset;
  }
}
