<form [formGroup]="form" (ngSubmit)="submit(form)" novalidate autocomplete="off">
	<div>
		<div container-wrapper>
				<div class="info-box" role="alert">
					<p *ngIf="possuiCadastroSite()">Verificamos que este cliente já tem um cadastro no site. Não se esqueça de avisá-lo de que, para gerenciar a
              Lista de Casamento, é necessário utilizar o mesmo e-mail cadastrado no site.
					</p>
					<p *ngIf="!possuiCadastroSite()">Não se esqueça de avisar o cliente de que uma senha temporária de acesso ao site será enviada para o e-mail informado abaixo.
          </p>
				</div>
			<div container-size="xsmall">
				<span class="simple-title">Noivo(a)</span>
			</div>
			<div formGroupName="noivoCadastrado" container-size="xxlarge">
				<div class="float-label">
					<input
						[class.has-value]="nome?.value"
						[class.has-error]="hasError('nome')"
						class="no-optional-text"
						id="nome"
						type="text"
            placeholder="Nome"
						formControlName="nome">
					<label for="nome">Nome Completo *</label>
					<span class="error-msg" role="alert" *ngIf="hasError('nome')">Campo obrigatório</span>
				</div>
				<div class="float-label">
					<input
						[class.has-value]="email?.value"
						[class.has-error]="hasError('email')"
						class="no-optional-text"
						id="email"
						type="text"
						placeholder="E-mail"
						formControlName="email">
					<label for="email">E-mail *</label>
					<span class="error-msg" role="alert" *ngIf="hasError('email')">Digite um e-mail válido</span>
				</div>
				<div class="float-label">
					<input
						[class.has-value]="confirmaEmail?.value"
						[class.has-error]="hasError('confirmaEmail')"
						class="no-optional-text"
						id="confirmaEmail"
						type="text"
						placeholder="Confirmar E-mail"
						formControlName="confirmaEmail">
					<label for="confirmaEmail">Confirmar e-mail *</label>
					<span class="error-msg" role="alert" *ngIf="hasError('confirmaEmail')">Digite um e-mail válido</span>
					<span class="error-msg" role="alert" *ngIf="areEmailEquals()">Os e-mail são diferentes</span>
				</div>
			</div>
		</div>
		<hr>
		<div container-wrapper>
			<div container-size="xsmall">
				<span class="simple-title">Noivo(a)</span>
			</div>
			<div formGroupName="outroNoivo" container-size="xxlarge">
				<div class="float-label">
					<input
						[class.has-value]="nomeOutroNoivo?.value"
						[class.has-error]="hasError('nomeOutroNoivo')"
						class="no-optional-text"
						id="nomeOutroNoivo"
						type="text"
						placeholder="Nome"
						formControlName="nome">
					<label for="nomeOutroNoivo">Nome completo *</label>
					<span class="error-msg" role="alert" *ngIf="hasError('nomeOutroNoivo')">Campo obrigatório</span>
				</div>
			</div>
		</div>
		<hr>
		<div container-wrapper>
			<div container-size="xsmall">
				<span class="simple-title">Cerimônia</span>
			</div>
			<div formGroupName="evento" container-size="xxlarge">
				<div class="float-label evento-data" container-size="xlarge">
					<input
						[class.has-value]="data?.value"
						[class.has-error]="hasError('data')"
						vndDataInput
						vndDataInputMin="01-01-1900"
						vndDataInputMax="01-01-9999"
						class="no-optional-text"
						id="data"
						type="text"
						placeholder="Data"
						formControlName="data">
					<label for="data">Data *</label>
					<span class="error-msg" role="alert" *ngIf="hasError('data') && data.errors.required">Campo obrigatório</span>
					<span class="error-msg" role="alert" *ngIf="hasError('data') && data.errors.dataInvalida">Data inválida</span>
					<span class="error-msg" role="alert" *ngIf="dateValidateMaximum()">A data da cerimônia deve ser inferior a 365 dias da criação da Lista de Casamento.</span>
					<span class="error-msg" role="alert" *ngIf="dateValidateMinimum()">A data da cerimônia deve ser superior a data atual!</span>
				</div>
				<vnd-autocomplete-municipio (municipioOutput)="municipio=$event" [municipioInformado]="municipio" [error]="hasError('_municipio')"></vnd-autocomplete-municipio>
			</div>
		</div>
	</div>
	<div class="action-group">
		<button type="button" class="secondary-action" type="button" (click)="prev()">Voltar</button>
		<button type="submit" class="main-action" [disabled]="!form.valid">Continuar</button>
	</div>
</form>
