@import 'import-core-tools';
@import 'import-core-settings';
@import 'settings';

.menu {
  display: flex;
  align-items: center;
  padding-bottom: space(medium);

  a {
    margin-right: space(xsmall);
  }

  h1 {
    padding-bottom: 0;
  }
}
