@import 'import-core-tools';
@import 'import-core-settings';
@import 'settings';

.container {
  display: flex;
  flex-wrap: wrap;
}

.title {
  width: 24%;
  padding-top: space(small);
}

.item-container {
  width: 76%;

  .item {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: space(small);

    .label {
      width: 50%;
      padding: 0 space(medium);
      font-weight: bold;
      text-align: right;
    }

    .info {
      width: 50%;
      text-align: left;
    }
  }
}

.separator {
  width: 100%;
  margin: space(medium) 0;
  border-top: $border-style-base;
}

.action-group {
  border-top: unset;
}
