<div class="container">

  <h2 class="title">Noivo(a)</h2>
  <div class="item-container">
    <div class="item">
      <span class="label">Nome completo</span>
      <span class="info">{{listaCasamento.dados.nomeNoivo}}</span>
    </div>
    <div class="item">
      <span class="label">E-mail</span>
      <span class="info">{{listaCasamento.dados.emailNoivo}}</span>
    </div>
  </div>

  <div class="separator"></div>

  <h2 class="title">Noivo(a)</h2>
  <div class="item-container">
    <div class="item">
      <span class="label">Nome</span>
      <span class="info">{{listaCasamento.dados.nomeOutroNoivo}}</span>
    </div>
  </div>

  <div class="separator"></div>

  <h2 class="title">Cerimônia</h2>
  <div class="item-container">
    <div class="item">
      <span class="label">Data do casamento</span>
      <span class="info">{{listaCasamento.dados.data}}</span>
    </div>
    <div class="item">
      <span class="label">Cidade \ Estado</span>
      <span class="info">{{listaCasamento.dados.cidadeEstado}}</span>
    </div>
  </div>

  <div class="separator"></div>

  <h2 class="title">Lista escolhida</h2>
  <div class="item-container" *ngIf="possuiLista; else semListaTemplate">
    <div class="item">
      <span class="label">Nome da lista</span>
      <span class="info">{{listaCasamento.listaSugestiva.nome}}</span>
    </div>
    <div class="item">
      <span class="label">Valor aproximado dos produtos da lista</span>
      <span class="info">{{listaCasamento.listaSugestiva.valorTotalAproximado | currency:'BRL':true}}</span>
    </div>
    <div class="item">
      <span class="label">Total de itens</span>
      <span class="info">{{listaCasamento.listaSugestiva.quantidadeTotalItens}}</span>
    </div>
  </div>
  <ng-template #semListaTemplate>
    <div class="item-container">
      <div class="item">
        <span>Nenhuma lista selecionada</span>
      </div>
    </div>
  </ng-template>

</div>

<div class="action-group">
    <button type="button" class="secondary-action" (click)="prev()">Voltar</button>
    <button type="button" class="main-action" (click)="next()">Confirmar</button>
</div>