@import 'import-core-tools';
@import 'import-core-settings';
@import 'settings';

.lista-sugerida {
  @include clearfix;

  position: relative;

  padding: space(medium);

  $this-border-color: color(primary);
  $this-border-color-hover: color(secondary);

  margin-bottom: space(medium);

  background-color: color(light, lightest);
  border: $border-style-base;
  border-radius: $border-radius-base;

  > header {
    display: flex;
    justify-content: space-between;

    padding: space(small, medium);
    margin: {
      top: -(space(medium));
      right: -(space(medium));
      bottom: space(small);
      left: -(space(medium));
    };

    color: color(secondary);

    font: {
      size: font-size(small);
      weight: font-weight(bold);
    };

    background-color: color(light, lighter);
    border-radius: $border-radius-base $border-radius-base 0 0;
  }

  .header-title {
    text-transform: uppercase;
  }

  .header-content {
    text-align: right;
  }
}

.actions {
  display: flex;
  justify-content: space-between;
  padding-top: space(medium);
  margin-top: space(medium);
  border-top: $border-style-base;
}

ul {
  display: flex;
  justify-content: space-between;
}

.produto-sugerido {
  display: flex;
  align-items: flex-start;
  width: space(xlarge) * 8;

  img {
    width: space(medium) * 3;
    height: space(medium) * 3;
  }

  strong {
    margin-left: space(medium);
    color: color(primary);
    font-size: font-size(medium);
  }
}
