$brand: 'casas-bahia';
$brand-name: 'Casas Bahia';

$brand-colors: (
  primary: (
    base: #2a7bbf,
    contrast: #c90b0b
  ),
  secondary: #18456b,
  main-button: (
    base: #2a7bbf,
    hover: #216195,
    active: #18456b
  )
);

$brand-fonts: (
  main: (
    name: 'fontDefault',
    path: '/assets/fonts/FuturaStd-Bold',
    weight: 900,
    style: normal
  )
);

$ui-fonts: (
  base: (
    name: 'fontDefault',
    path: '/assets/fonts/Lato-Medium',
    weight: 400,
    style: normal
  ),
  bold: (
    name: 'fontDefault',
    path: '/assets/fonts/Lato-Bold',
    weight: 600,
    style: normal
  ),
  xbold: (
    name: 'fontDefault',
    path: '/assets/fonts/Lato-Heavy',
    weight: 800,
    style: normal
  )
);

$fonts: map-merge($ui-fonts, $brand-fonts);
