@import 'import-core-tools';
@import 'import-core-settings';
@import 'settings';

.info-lista {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: space(medium);
  margin-bottom: space(medium);

  p {
    margin-top: space(medium);
    margin-bottom: space(large);
  }

  small {
    margin-bottom: space(medium);
  }

  .list-code {
    font-size: space(small);
  }
}

img {
  margin-top: space(small);
}

.wrapper-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
}
