$brand: 'pontofrio';
$brand-name: 'Pontofrio';

$brand-colors: (
  primary: (
    base: #bc0206,
    contrast: #000000
  ),
  secondary: #000000,
  main-button: (
    base: #000000,
    hover: #262626,
    active: #4d4d4d
  )
);


$brand-fonts: (
  main: (
    name: 'fontDefault',
    path: '/assets/fonts/NeoSansStd-Bold',
    weight: 900,
    style: normal
  )
);

$ui-fonts: (
  base: (
    name: 'fontDefault',
    path: '/assets/fonts/Lato-Medium',
    weight: 400,
    style: normal
  ),
  bold: (
    name: 'fontDefault',
    path: '/assets/fonts/Lato-Bold',
    weight: 600,
    style: normal
  ),
  xbold: (
    name: 'fontDefault',
    path: '/assets/fonts/Lato-Heavy',
    weight: 800,
    style: normal
  )
);

$fonts: map-merge($ui-fonts, $brand-fonts);
