<section container-wrapper>
  <div class="coluna-filtro" container-size="xsmall">
    <div element-size="full">
      <h2>Filtros</h2>
      <vnd-filtro-departamento-lista (department)="applyDepartment($event)"></vnd-filtro-departamento-lista>
    </div>
  </div>
  <div container-size="xxlarge">
    <aside container-wrapper>
      <div container-size="medium" class="order">
        <label for="product-list-filter">Ordenar por: </label>
        <span class="select">
          <select id="product-list-filter" (change)="orderBy($event.target.value)">
            <option *ngFor="let name of filters" [value]="name">{{ name }}</option>
          </select>
        </span>
      </div>
      <div class="layout-options" container-size="xsmall">
        <button [class.active]="isLayout(layoutTypes.GRID)" (click)="setLayout(layoutTypes.GRID)">
          <svg aria-hidden="true" viewBox="0 0 24 24" class="icon is-primary">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./assets/images/svg-sprite-icones.svg#grid"></use>
          </svg>
        </button>
        <button [class.active]="isLayout(layoutTypes.LIST)" (click)="setLayout(layoutTypes.LIST)">
          <svg aria-hidden="true" viewBox="0 0 24 24" class="icon is-primary">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./assets/images/svg-sprite-icones.svg#lista"></use>
          </svg>
        </button>
      </div>
    </aside>
    <div class="products" container-wrapper [ngClass]="getLayout()">
      <section class="card" *ngFor="let product of listaCasamentoRestService.produtos$ | async">
        <img [src]="product.urlImagem" alt="Imagem Produto - Casas Bahia" />
        <h5>{{ product.nome }}</h5>
      </section>
    </div>
    <div class="pagination" *ngIf="paginationService.shouldShowPagination()">
      <button
        class="is-icon"
        type="button"
        (click)="paginationPrev(page)"
        *ngIf="paginationService.shouldShowPrev(page)">
        <svg class="icon is-small to-left" viewBox="0 0 24 24" aria-hidden="true">
          <use xlink:href="./assets/images/svg-sprite-icones.svg#single-arrow" />
        </svg>
        <span>Anterior</span>
      </button>
      <input type="text" [value]="page" maxlength="4" (change)="paginationBy($event.target.value)">
      <span>de {{max}}</span>
      <button
        class="is-icon"
        type="button"
        (click)="paginationNext(page)"
        *ngIf="paginationService.shouldShowNext(page)">
        <svg class="icon is-small to-right" viewBox="0 0 24 24" aria-hidden="true">
          <use xlink:href="./assets/images/svg-sprite-icones.svg#single-arrow" />
        </svg>
        <span>Próximo</span>
      </button>
    </div>
    <footer>
      <button type="button" class="secondary-action" (click)="prev()">Voltar</button>
      <button type="button" class="main-action" (click)="next()" [disabled]="isConfirmDisabled">Confirmar Lista</button>
    </footer>
  </div>
</section>
