@import 'import-core-tools';
@import 'import-core-settings';
@import 'settings';

:host {
  width: 100%;
}

.coluna-filtro {
  display: flex;
}

aside {
  @include flex-container($justify-content: space-between);
  align-self: flex-end;
  margin: space(medium) 0;
  border-bottom: $border-style-base;
}

.order {
  display: flex;
  align-items: center;
  padding-bottom: space(small);
  margin: 0;

  label {
    margin: 0;
    margin-right: space(medium);
  }

  span {
    flex-grow: 1;
  }

}

.layout-options {
  @include flex-container($justify-content: flex-end);
  margin: 0;

  button {
    @include button-reset;
    top: rem(1px);
    padding: space(small);
    margin: 0;
    font-size: 24px;
    border-bottom: $border-style-base;
    cursor: pointer;

    svg {
      fill: color(primary);
    }

    &:hover {
      background: color(primary);

      svg {
        fill: color(light, lightest);
      }
    }

    &.active {
      border-bottom-color: color(secondary);

      svg {
        fill: color(secondary);
      }

      &:hover {
        background: color(secondary);

        svg {
          fill: color(light, lightest);
        }
      }

    }
  }

}

.products {
  margin: 0;

  h5 {
    $this-bg-color: color(light, lightest);
    $this-bg-opacity: .9;
    $this-space: space(grid) / 2;

    bottom: 0;
    left: 0;

    padding: {
      top: space(xsmall);
      right: $this-space;
      left: $this-space;
    };
    margin: {
      right: #{$this-space};
      left: #{$this-space};
    };

    color: color(dark, light);
    text-align: left;

    background-color: rgba($this-bg-color, $this-bg-opacity);

    &::before {
      @include css-content(100%, 1.5em);

      position: absolute;
      top: 0;
      left: 0;
      transform: translateY(-100%);

      background: linear-gradient(
        rgba($this-bg-color, 0) 5%,
        rgba($this-bg-color, .7) 70%,
        rgba($this-bg-color, $this-bg-opacity)
      );
    }
  }
}

.grid-view {
  @include has-blocks(
    $count: 3,
    $child-selector: '.card'
  );

  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: rem(277px);
    text-align: center;
    border-color: transparent;

    h5 {
      position: absolute;
    }

    img {
      height: rem(182px);
    }

    &:hover {
      border-color: color(primary);
    }

  }
}

.list-view {
  .card {
    display: flex;
    width: 100%;
    height: rem(182px);
    margin-bottom: space(medium);

    img {
      height: inherit;
      max-width: inherit;
      max-height: 100%;
    }

    h5 {
      @include flex-container($justify-content: left);
      flex-grow: 1;
      align-items: center;
      margin-left: space(xsmall);

      &::before {
        top: 10%;
      }
    }
  }
}

.pagination {
  @include flex-container($justify-content: flex-end);
  align-items: center;
}

footer {
  @include flex-container($justify-content: flex-end);
  margin-top: space(medium);
}

button {
  margin: space(small);
}
