@import 'import-core-tools';
@import 'import-core-settings';
@import 'settings';

.box {

  display: flex;
  flex-direction: row;

  .content {
    display: flex;
    flex-direction: column;

    button {
      align-self: flex-end;
    }

    p {
      padding-bottom: space(small);
    }

    .title {
      margin-bottom: 0;
    }
  }

  .icon-box {
    width: space(xlarge) * 2;
  }
}
