<vnd-default-template>
  <div header>
    <h1>Lista de casamento</h1>
  </div>

  <section container-size="full">
    <div element-wrapper>

      <div class="float-label box" element-size="medium">

        <vnd-icon class="icon-box" [iconName]="'header-casamento'" iconClass="icon is-large is-primary"></vnd-icon>

        <div class="content">
          <h2 class="title">Noivos</h2>
          <p>{{ funcionario?.nome }}, crie uma Lista de Casamento para o cliente.</p>
          <button type="button" acao (click)="criarLista()">Criar Lista</button>
        </div>

      </div>

    </div>
  </section>

</vnd-default-template>
