@import 'import-core-tools';
@import 'import-core-settings';
@import 'settings';

footer {
  display: flex;
  justify-content: flex-end;
  width: 100%;


  button {
    margin: space(small);
  }

}

