@import 'import-core-tools';
@import 'import-core-settings';
@import 'settings';

:host {

  a {
    margin: space(xsmall);
    font-size: space(small);
  }

  span {
    font-size: space(small);
  }

  .last {
    @include flex-container($justify-content: flex-end);
  }

}
